certifi==2017.11.5
chardet==3.0.4
click==6.7
coverage==4.4.2
cryptocompare==0.3
enum-compat==0.0.2
eventlet==0.21.0
Flask==0.12.2
flexmock==0.10.2
greenlet==0.4.12
idna==2.6
influxdb==5.0.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
pika==0.11.2
pluggy==0.5.2
py==1.5.2
pytest==3.2.5
pytest-cov==2.5.1
pytest-runner==3.0
python-dateutil==2.6.1
python-dotenv==0.7.1
python-engineio==2.0.1
python-socketio==1.8.3
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
Werkzeug==0.13
